#background {
  position: absolute;
  height: 100vh;
  object-fit: scale-down;
  object-position: top;
  z-index: 1;
}

li a {
  text-decoration : none;
  color : rgb(255, 255, 255);
}

nav {
  position: relative;
  display: block;
  width : 100vw; 
  background: rgb(106, 168, 97, 0.8);
  margin : auto; 
  z-index: 98;
}

span {
  margin-top: 20px;
  width: 100vw;
  padding : 20px;
  background : rgb(106, 168, 97, 0.8); 
  color : white;
  font-size: x-large;
  display: block;
}

span::after {
  /*float: right;*/
  right: 10%;
  /*content: "+";*/
}

.slide {
  clear:both;
  width:100vw;
  height:0px;
  overflow: hidden;
  text-align: center;
  transition: height .4s ease;
  list-style-type: none;
}

.slide li {padding : 10px;}

#touch {position: absolute; opacity: 0; height: 0px;}    

#touch:checked + .slide {height: 300px;} 